---
import type { GetStaticPaths } from "astro";
import CardHistory from "@components/record/CardHistory.astro";
import CardTotal from "@components/record/CardTotal.astro";
import Title from "@header/Title.astro";
import Layout from "@layouts/Layout.astro";

type RecordType = {
    id: number;
    date: string;
    name: string;
    price: number;
};

export const getStaticPaths = (() => {
    const value = 8000;

    const dataCardHistory: { telephone: string; record: RecordType[] }[] = [
        {
            telephone: "3187778672",
            record: [
                {
                    id: 1,
                    date: "13/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 2,
                    date: "14/12/2024",
                    name: "Donato Silva",
                    price: value,
                },
                {
                    id: 3,
                    date: "16/12/2024",
                    name: "Donato Silva",
                    price: value,
                },
                {
                    id: 4,
                    date: "17/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 5,
                    date: "18/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 6,
                    date: "19/12/2024",
                    name: "Juan Silva",
                    price: value,
                },
                {
                    id: 7,
                    date: "20/12/2024",
                    name: "Donato Silva",
                    price: value,
                },
                {
                    id: 8,
                    date: "21/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 9,
                    date: "22/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 10,
                    date: "23/12/2024",
                    name: "Juan Silva",
                    price: value,
                },
                {
                    id: 11,
                    date: "24/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 12,
                    date: "25/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 13,
                    date: "26/12/2024",
                    name: "Donato Silva",
                    price: value,
                },
                {
                    id: 14,
                    date: "28/12/2024",
                    name: "Esteban David",
                    price: value,
                },
                {
                    id: 15,
                    date: "29/12/2024",
                    name: "Donato Silva",
                    price: value,
                },
                {
                    id: 16,
                    date: "30/12/2024",
                    name: "Esteban David",
                    price: value,
                },
            ],
        },
    ];

    return dataCardHistory.map(({ telephone, record }) => ({
        params: { tel: telephone },
        props: { telephone, record },
    }));
}) satisfies GetStaticPaths;

const { telephone, record } = Astro.props;

const count: number = record.length;
const prices: number = record.reduce((acc, { price }) => acc + price, 0);
---

<Layout>
    <Title size="md" />
    <section class="flex flex-col justify-center items-center">
        <CardTotal count={count} total={[prices]} telephone={telephone} />
    </section>
    <section>
        <h2 class="text-2xl text-H-blue-900 font-bold">
            Historial de domicilios
        </h2>
        <div class="flex flex-col gap-4 mt-6">
            {
                record.reverse().map(({ date, name, price }, index) => (
                    <>
                        <CardHistory date={date} name={name} price={price} />

                        {index < record.length - 1 ? (
                            <hr class="border-t-2 w-20 mx-auto border-H-blue-300" />
                        ) : (
                            ""
                        )}
                    </>
                ))
            }
        </div>
    </section>
</Layout>

<style></style>

<script></script>
